* {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}



/*
*  Commons
*/
main {
    background-color: #000;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

header, main, footer {
    color: #fff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.icon {
    height: 14px;
}

.container {
    padding-top: 80px;
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
}

.flex-ui {
    display: flex;
    column-gap: 18px;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
}

h3 {
    font-size: 16px;
    font-weight: 300;
}

.green {
    color: #4BC800
}



/*
*  Header
*/
header {
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
}

.windows-cmd {
    text-align: right;
}

.windows-cmd > li {
    display: inline-block;
    font-size: 20px;
    background-color: #4a4a4a;
    border: 1px solid #4a4a4a;
    border-radius: 5px;
    padding: 4px 6px;
    margin: 8px 6px 0 0;

}



/*
*  Main
*/
main .row {
    flex-wrap: wrap;
    gap: 20px 10px;
}

.caller {
    flex-shrink: 0;
    flex-basis: 255px;
    flex-grow: 0;
    position: relative;
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    background-color: #222;
}

.display-name {
    background-color: rgba(55, 55, 55, 0.5);
    padding: 8px 10px 8px 4px;
    position: absolute;
    bottom: 0;
    left: 0;
}


/*
*  Footer
*/
footer {
    height: 80px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #222;
    width: 100vw;
}

footer .row {
    height: inherit;
}

.left-ui {
    flex-grow: 1;
    padding-left: 10px;
}
.center-ui {
    flex-grow: 1;
}
.right-ui {
    flex-grow: 0;
    background-color: #4a4a4a;
    padding: 0 20px;
}

.object-ui > i {
    font-size: 30px;
    margin-bottom: 10px;
}

.expand-ui {
    height: 8px;
}

.icon-ui {
    height: 30px;
}

img.icon-ui + h3 {
    margin-top: 6px;
}

.close-meet {
    color: red;
}